{% extends "base.html" %}

{% load static %}

{% block EnlacesPersonalizados %}
{% load tag_videos %}
    
<!-- ======= Icons used for dropdown (you can use your own) ======== -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

<style type="text/css">

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

</style>


<script type="text/javascript">

	document.addEventListener("DOMContentLoaded", function(){

		document.querySelectorAll('.sidebar .nav-link').forEach(function(element){

			element.addEventListener('click', function (e) {

				let nextEl = element.nextElementSibling;
				let parentEl  = element.parentElement;	

				if(nextEl) {
					e.preventDefault();	
					let mycollapse = new bootstrap.Collapse(nextEl);

			  		if(nextEl.classList.contains('show')){
			  			mycollapse.hide();
			  		} else {
			  			mycollapse.show();
			  			// find other submenus with class=show
			  			var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
			  			// if it exists, then close all of them
						if(opened_submenu){
							new bootstrap.Collapse(opened_submenu);
						}

			  		}
		  		}

			});
		})

	}); 
	// DOMContentLoaded  end
</script>

    

{% endblock %}

{% block titulo %}Index{% endblock %}

{% block contenedor %}


<h1>PRUEBA</h1>
<div class="container ">

  <div class="position-absolute top-0 end-0">
    <a href="{% url 'src:logout' %}"><button type="button" class="btn btn-dark">Cerrar Sesion</button></a>
  </div>
  
    
  

    <br><br><br>

    
    <div class="row">
      <div class="col-sm-2  bg-dark">

                          
            <section class="section-content py-3">
                <input type="text" class="col-sm-12" placeholder="Buscador"> 
                <div class="row">
                    
                    <aside class="col-lg"> 
                        <!-- ============= COMPONENT ============== -->
                        <nav class="sidebar card py-2 mb-4 text-white bg-dark">
                        <ul class="nav flex-column" id="nav_accordion">

                          

                          {% for categoria in categorias %}

                            
                            {% categoria_existe categoria.nombre as respuesta %}
                            {% if respuesta %}

                                  <li class="nav-item has-submenu">
                                    <a class="nav-link text-white" href="#"> {{categoria.nombre|title}} <i class="bi small bi-caret-down-fill"></i> </a>
                                    <ul class="submenu collapse">


                                      {% for subcategoria in subcategorias %}
                                      
                                          {% subcategoria_existe categoria.id subcategoria.nombre as respuestaSubcategoria %}
                                          {% if respuestaSubcategoria %}
                                              <li>

                                                <div class="dropdown">
                                                    <a class="btn nav-item dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                      {{subcategoria.nombre|title}}
                                                    </a>
                                                  
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    
                                                      {% videos_subcategoria categoria.nombre subcategoria.nombre %}
                                                    </ul>
                                                  </div>
                                            
                                            
                                            </li>
                                            
                                          {% endif %}

                                      {% endfor %}
                                        

                                    </ul>
                                </li>


                            {% endif %}

                          {% endfor %}


                            
                            
                            
                            
                            <!--<li class="nav-item">
                                <a class="nav-link" href="#"> Menu item </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Something </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Other link </a>
                            </li>
                            --->
                        </ul>

                        
                        </nav>

                        
                        <!-- ============= COMPONENT END// ============== -->	
                    </aside>
                    
                    
                </div>

            </section>

        </div>


      <div class="col-sm-8 m-md-5 m-sm-0">
          

            <h6 class="text-center" id="TituloVideo">  </h6>
            
            <main>

                <div class="ratio border border-warning ratio-16x9 mx-auto  m-5">
                    <video id="VideoCapa" width="500" height="500" controls allowfullscreen>
                        <source id="SourceVisual" src="{{file.video.url}}" >
                    </video>
                    <!--<iframe src="https://www.youtube.com/embed/ABM5UJeILjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                </div>

                <!--
                    Cuando son elementos en linea
                    
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/ABM5UJeILjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                --->
                


                 


            </main>
            
            
      </div>
    </div><!---fin de row--->
  </div><!---fin de container--->












{% endblock %}


{% block EnlacesListado_js %}

  <script src="{% static 'src/js/visualizar_video.js'%}"></script>    
  
  

  <script src="{% static 'src/js/imagenes_fondos.js' %}" type="module"></script>

  

{% endblock %}