
{% extends "base.html" %}



{% block titulo %}Login{% endblock %}

{% block contenedor %}


<form action="{% url 'src:login' %}" class="login-form" method="post">
    {% csrf_token %}
      <div class="row mg-b-0">

        {% if form.errors %}
            
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}


        
        {{ form}}
        <button type="submit">iniciar sesiòn</button>

  </form>

{% endblock %}
